.clr-selector{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 12%;
  border: none;
  margin: 0.5rem;
  //opacity: 0.9;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.clr-selector:hover{
  opacity: 0.7;
}
