$light-backgrounds: aliceblue;
$color-font: #0c0b0b;

//cards colors
$green: rgb(108,160,108);
$red:hsl(0,33%,60%);
$blue:hsl(207,38%,57%);
$yellow:rgb(226,219,114);

$error: rgb(156,41,41);
$primary: rgb(38,66,119);

$black: rgba(0,0,0,0.16);
