<form [formGroup]="NotesForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" formControlName="title" [class]="NotesForm.controls['title'].valid ?'input-available' :'required'" placeholder="Add a title" #title>
  </div>
  <div class="form-group">
    <label for="note">Note</label>
    <input type="note" class="form-control" id="content" formControlName="content" [class]="NotesForm.controls['content'].valid ?'input-available' :'required'" placeholder="Add a note" #content>
  </div>

</form>
<button class="btn-save" *ngIf="!NotesForm.invalid" (click)="save(title.value, content.value)">Save</button>
