*{
  color: aliceblue;
}

.card-clr{
  display: flex;
  justify-content: center;
}

.card-desc{
  opacity: 0.5;
}

.important-btn{
  width: fit-content;
  text-decoration: none;
}

.important-note-message{
  font-size: 1rem;
  color: rgb(110, 10, 10);
}
