<div class="container content">
  <div class="page-header">
    <div class="container navbar-container">
      <div class="navLinks">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/detail-note']">Detalle Nota</a>
      </div>
      <h1>Personal Notes</h1>
      <div style="float: right;">
        <select #langs (change)="onSelected(langs.value)">
          <option value="es">Español</option>
          <option value="fr">France</option>
          <option value="en">English</option>
        </select>
      </div>
    </div>
    <div>
      <h1>{{title}} <b [innerHTML]="'HOLA | translate'" ></b></h1>
    </div>
  </div>
  <div class="row main-header">
    <h1>{{title}}</h1>
  </div>
  <router-outlet></router-outlet>
</div>
Time: {{time | async}}
