<div class="card-content">
  <div class="card-clr {{classColor}}">
    <app-color-selector *ngFor="let x of colors" [color]="x" (colorSelected)="addColorToCard($event)"></app-color-selector>
  </div>
  <div class="card-desc {{classColor}}">
    <h3>{{note.title}}</h3>
    <!-- <p>States</p>
    <ul>
      <li *ngFor="let stt of note.estados">
        <span [ngSwitch]="stt">
          <i *ngSwitchCase="'Overdue'" style="color:red;">{{stt}}</i>
          <i *ngSwitchDefault>{{stt}}</i>
        </span>
      </li>
    </ul> -->
    <p>
      {{note.content}}
    </p>
    <a href="#" (click)="voteUp()"><i class="material-icons md-18">thumb_up</i></a>
    <a href="#" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i></a>
    {{note.votes}}

    <a href="#" (click)="open()" *ngIf="!note.selected" class="important-btn">set Important!</a>
    <h4 [style.display]="note.selected?'' :'none'" class="important-note-message">Important Note</h4>

    <!-- <a [routerLink]="['/detail-note']">See more</a> -->
  </div>
</div>
