@import "../../../assets/scss/colors.scss";

*{
  color: $light-backgrounds;
}

.card-clr{
  display: flex;
  justify-content: left;
}

.card-desc{
  opacity: 0.7;
}

.important-btn{
  width: fit-content;
}

a{
  text-decoration: none;
}

.important-note-message{
  font-size: 1rem;
  color: rgb(110, 10, 10);
}
