<div class="container content">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <span class="anchor" id="formLogin"></span>
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Personal Notes</h3>
        </div>
        <div class="card-body">
          <app-form-nota (onItemAdded)="guardarNota($event)"></app-form-nota>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5">
  <div class="row row-flex">
    <app-card-nota *ngFor="let n of notas" [nota]="n" (clicked)="noteSelected($event)"></app-card-nota>
  </div>
</div>
