@import '../../../assets/scss/colors.scss';

.clr-selector{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 12%;
  border: none;
  margin: 0.5rem;
  //opacity: 0.9;
  box-shadow: 0 2px 5px 0 $black, 0 2px 10px 0 $black;
}

.clr-selector:hover{
  opacity: 0.7;
}
